*{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

#navbar-pinterest{
   display: flex; 
   align-items: center;
   justify-content: center;
   position: fixed;
   z-index: 10;
   top:0px ;
   right:0px ;
   bottom: 0px;
   left: 0px;
   background-color: white;
   width: 100vw;
   height: 80px;
   margin:0;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
}

.pinterest_logo{
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.boton_logo{
    height: 50px;
    width: 50px;
    border-radius: 30px; 
    align-items: center;
    background-color: white;
    border-color: transparent;
}
.boton_logo:hover{
    background-color: lightgray;
    cursor: pointer;
}

.navbarMovil{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top:0px ;
    right:0px ;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 80px;
    margin:0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    visibility: hidden;
}

.search_bar{
    height: 50px;
    width: 55%;
    border-radius: 30px; 
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin: 0 5px
}

.lupa{
color: darkgray;
padding-left: 16px;
}

.finder{
width: 750px;
height: 40px;
border: transparent;
background-color: transparent;
padding-left: 10px;
}

.icono{
    width: 25px;
    height: 25px;
}
/*
los tamaños originales de botones sin ser rem son:
    width: 70px;
    height: 50px;
______________
   height: 3.125rem;
    width: 4.375rem;
*/
.botoninicio{
    height: 3.125rem;
    width: 4.375rem;
    border-radius: 30px; 
    text-align: center;
    background-color: black;
    color: white;
    border-color: transparent;
}

.botoninicio{
    cursor:pointer;
}
/*
los tamaños originales de botones sin ser rem son:
width: 70px;
height: 50px;
*/
.boton{
    height: 3.125rem;
    width: 4.375rem;
    border-radius: 30px; 
    text-align: center;
    background-color: white;
    border-color: transparent;
    
}
.boton:hover{
    background-color: lightgray;
    cursor: pointer;
}

#content{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:0;
    margin: 0;
    top: 80px;
    position: relative;
}

.columna{
    display: flex;
}
/*
    width: 236px;
    height: 419px;
    _____________
    width: 14.75rem;
    height: 26.18rem;
    */
.img_large{
    width: 14.75rem;
    height: 26.18rem;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin: 0 8px 16px;
    padding: 0;
}
/*
    width: 236px;
    height: 300px;
    _________
    width: 14.75rem;
    height: 18.75rem;
*/
.img_small{
    width: 14.75rem;
    height: 18.75rem;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin: 0 8px 16px;
    padding: 0;
}
/*
    width: 236px;
    height: 236px;
    _____________
    width: 14.75rem;
    height: 14.75rem;
*/
.img_square{
    width: 14.75rem;
    height: 14.75rem;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin: 0 8px 16px;
    padding: 0;
}

@media screen and (max-width:1000px){
    .search_bar{
        width: 35%;
    } 
    .mobileHidden{
        display:none;
    }

}

@media screen and (max-width: 700px){
    #navbar-pinterest{
        visibility: hidden;
    }
    .navbarMovil{
        visibility: visible;
    }
    .search_bar{
        width: 25%;
    } 
    .columna{
        flex-direction: column;
    
    }
    .mobileHidden{
        display:none;
    }

}

